title = "Invoice"
layout = "rezalaal.tb::pdf.layouts.default"
description = "Invoice template"
size = "a4"
orientation = "portrait"
==
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Document</title>
        
        <style>
            @font-face {
            font-family: 'DejaVuSans';
            src: url('/hosts/october/storage/fonts/DejaVuSans.eot?#') format('eot'),
            url('/hosts/october/storage/fonts/DejaVuSans.ttf') format('truetype'),
            url('/hosts/october/storage/fonts/DejaVuSans.woff') format('woff');
            }
             * {
            font-family: DejaVuSans,'DejaVuSans',tahoma
            }
        </style>
        
    </head>
    <body dir="rtl">
    <span style="font-family: 'DejaVuSans'">فارسی</span>
         
    </body>
</html>